@font-face {
    font-family: GraublauWeb;
    font-weight: bold;
    src: url('fonts/CupheadMemphis-Medium.otf') format('opentype');
}
@import 'modules/breakpoints';
@import 'modules/mixins';
@import 'modules/variables';
@import 'modules/typography';

@import 'components/menu-screen';
@import 'components/icon';
@import 'components/button';
@import 'components/checkbox-container';
@import 'components/summary';

* {
    font-family: GraublauWeb;
    color: #4c4c4c;
}
body {
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=030303ff&noise=626262&density=32&opacity=17');
    margin: 0;
    margin-right: 20px;
    padding: 0;
}
.--top {
    z-index: 5;
}
