.icon-container {
    position: absolute;
    left: 0;
    top: 0;
    width: $width;
    height: $height;
    overflow: hidden;
    &:not(.--top) {
        display: none;
    }
    &--dupe {
        display: none;
    }
    &--nothidden.--top {
        overflow: visible;
    }
    &__icon {
        width: $width;
        &--big {
            width: $width + 20px;
        }
    }
}
