.king-dice-group {
    margin-bottom: 15px;
    height: 220px;
    &__image {
        height: 100px;
        margin-bottom: 20px;
        transition: 0.2s ease;
        opacity: 0;
        &--visible {
            opacity: 1;
        }
    }
}
.kd-bg {
    @include custom(1150px, 1450px) {
        width: 80%;
    }
}
