.menu-screen {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #d7bfa5;
    padding: 10px;
    padding-bottom: 60px;
    width: 50%;
    margin: 50px auto 0 auto;
    flex-wrap: wrap;
    background-image: url('../img/background-2.png');
    @include laptop-up {
        transform: rotate(-1deg);
        &--opposite {
            transform: rotate(0.2deg);
            &:after {
                transform: rotate(-2deg);
            }
        }
    }
    @include custom-down(1450px) {
        width: 80%;
    }
    @include custom-down(895px) {
        width: 90%;
    }
    @include landscape-down {
        width: 100%;
        margin-top: 0px;
        &:not(.menu-screen--opposite) {
            margin-bottom: 25px;
        }
    }
    &__title-card {
        width: 100%;
        height: 118px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../img/background-title.png');
        margin-bottom: 20px;
        text-align: center;
        &--nomargin-bot {
            margin-bottom: 0;
        }
    }

    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        z-index: 1;
        &--left {
            // justify-content: flex-start;
            flex-direction: column;
            width: 70%;
        }
    }

    &__random {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-grow: 1;
        @include landscape-down {
            // width: 100%;
        }
        &:not(:last-child) {
            padding: 0 30px;
        }
    }
    &__imagescontainer {
        position: relative;
        width: $width;
        height: $height;
        box-sizing: content-box;
        margin-bottom: 10px;
    }
    &:before {
        content: '';
        z-index: 0;
        position: absolute;
        left: 8px;
        top: 8px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        border: 2px solid #82757b;
    }
    &:after {
        content: '\00a9  1930, RANDOMIZER';
        position: absolute;
        color: #868372;
        font-size: 12px;
        z-index: 0;
        left: 15px;
        bottom: 15px;
        transform: rotate(2deg);
    }
}
