.random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    align-items: center;
    text-align: center;
    @include landscape-down {
        width: 100%;
    }
    &__imagescontainer {
        position: relative;
        width: $width;
        height: $height;
        box-sizing: content-box;
        margin-bottom: 10px;
    }
}
